.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
}
